n8n/workflow.json
{
  "updatedAt": "2026-04-28T19:46:31.806Z",
  "createdAt": "2026-04-19T23:17:38.999Z",
  "id": "VPo3TTMDssh681uj",
  "name": "Job Seeker",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "http://scraper:8000/scrape?days_old=5",
        "options": {}
      },
      "id": "23ed3271-e243-4d4a-aa5b-e7ddaf79b79f",
      "name": "Scraper API (General)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2224,
        496
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "id": "33cdb79d-f6ff-4147-aafa-1c3d6ed478b5",
      "name": "Groq",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2448,
        1136
      ],
      "credentials": {
        "groqApi": {
          "id": "1RmGWWpJThIlyOT5",
          "name": "Groq API Key"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "b2096293-7f63-4b01-a6a5-b29bae1533e8",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        16,
        784
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        1008
      ],
      "id": "e522b42c-3ff4-4982-adc9-43e982d4a470",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fesJKZfGeBApeACe",
          "name": "Job Seeker Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const txt = $json.text || '';\nconst clean = txt.replace(/```json|```/g, '').trim();\n\ntry {\n  const llmResult = JSON.parse(clean);\n  const originalJob = $('Loop').item.json;\n\n  return {\n    ...originalJob,\n    ai_score: llmResult.ai_score, // Mapeo score\n    ai_summary: llmResult.summary, // MAPEO: de \"summary\" (IA) a \"ai_summary\" (DB)\n    fit_highlights: JSON.stringify(llmResult.fit_highlights), // Convertimos array a texto\n    red_flags: JSON.stringify(llmResult.red_flags), // Convertimos array a texto\n    processed: true // Marcamos como procesado\n  };\n\n} catch (e) {\n  return { \n    error: \"Error parseando JSON de la IA\", \n    id: $('Loop').item.json.id,\n    processed: false \n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        784
      ],
      "id": "c55375ef-eabd-4cfc-a195-b4f088a4e8d2",
      "name": "Parsear respuesta"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "processed": false,
            "id": 0,
            "ai_score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "fit_highlights",
              "displayName": "fit_highlights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "red_flags",
              "displayName": "red_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        784
      ],
      "id": "b1bb7c8e-6d19-4d2c-ac39-aa0726843a35",
      "name": "Actualizar empleo",
      "credentials": {
        "postgres": {
          "id": "DIQLOFTgMflMGYIx",
          "name": "Postgres container"
        }
      }
    },
    {
      "parameters": {
        "content": "### 1. Ingesta\nObtiene vacantes en crudo vía API y las guarda en Postgres evitando duplicados.",
        "height": 416
      },
      "id": "508b9431-6ef7-4962-b228-d44237495c48",
      "name": "Note Ingesta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2304,
        240
      ]
    },
    {
      "parameters": {
        "content": "### 2. Pre-filtrado\nFiltra por palabras clave para no gastar IA en puestos que no sirven.",
        "height": 432
      },
      "id": "78994c53-124c-4ce4-b329-b570b407cca8",
      "name": "Note Filtro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        288
      ]
    },
    {
      "parameters": {
        "content": "### 3. Análisis IA\nEl LLM evalúa el perfil detallado y asigna el Score (1-5).",
        "height": 464,
        "width": 304
      },
      "id": "fb22e0bc-2cce-469d-a37d-b9cbcaabeec0",
      "name": "Note IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        688
      ]
    },
    {
      "parameters": {
        "content": "### 4. Reporte\nGenera el reporte visual y lo envía si hay matches >= 4."
      },
      "id": "e5664d5f-e98a-4652-8268-eeedc2844598",
      "name": "Note Reporte",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        160
      ]
    },
    {
      "parameters": {},
      "id": "0f503b5f-f699-4e73-9c3f-8bda248c0cc9",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2448,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96d62ac6-0534-410c-85b3-cfd455e01af8",
              "leftValue": "={{ parseInt($json.results.length) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        496
      ],
      "id": "4727a0c7-c762-4c83-87ca-a998ad833aa7",
      "name": "Filtrar empleos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (job_url, title, company, location, date_posted, description)\nVALUES ($1, $2, $3, $4, $5, $6)\nON CONFLICT (job_url) DO UPDATE SET title = EXCLUDED.title WHERE jobs.processed = false OR (jobs.ai_score >= 4 AND jobs.notified = false)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.job_url || null }},\n={{ $json.title || null }},\n={{ $json.company || null }},\n={{ $json.location || null }},\n={{ $json.date_posted || null }},\n={{ $json.description || null }}"
        }
      },
      "id": "64dbcc47-daad-4289-a373-93d5b23cc99b",
      "name": "Guardar empleos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1552,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "DIQLOFTgMflMGYIx",
          "name": "Postgres container"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\nconst keywords = [\n  'data', 'machine learning', 'ml', 'mlops', 'llmops',\n  'ai engineer', 'python', 'analytics', 'scientist', 'data scientist',\n  'cientifico de datos', 'engineer', 'ingeniero', 'inteligencia'\n];\n\nconst res = $('Guardar empleos').all().filter(item => {\n  const title = (item.json.title || '').toLowerCase();\n  return keywords.some(k => title.includes(k));\n});\n\nreturn { jobs: res.map(i => i.json), count: res.length };\n**/\n\n/**\nconst keywords = [\n  'data scientist', 'ml engineer', 'analytics engineer', // más específicos arriba\n  'data', 'machine learning', 'ml', 'mlops', 'llmops',\n  'ai engineer', 'python', 'analytics', 'scientist',\n  'cientifico de datos', 'engineer', 'ingeniero', 'inteligencia'\n];\n**/\n\nconst configKeywords = $('Configuracion').first().json.keywords;\nconst keywords = configKeywords.split(',').map(k => k.trim().toLowerCase());\n\nconst filtered = $('Guardar empleos').all().filter(item => {\n  const title = (item.json.title || '').toLowerCase();\n  return keywords.some(k => title.includes(k));\n});\n\n// Ordenar por coincidencia con keywords más específicas\nfiltered.sort((a, b) => {\n  const titleA = (a.json.title || '').toLowerCase();\n  const titleB = (b.json.title || '').toLowerCase();\n  const idxA = keywords.findIndex(k => titleA.includes(k));\n  const idxB = keywords.findIndex(k => titleB.includes(k));\n  return idxA - idxB;\n});\n\n//const result = filtered.slice(0, 5);\nconst result = filtered; \n\n// Retornamos un único objeto con los resultados empaquetados\n// Esto garantiza que el flujo SIEMPRE continúe al siguiente nodo\nreturn {\n  jobs: result.map(item => item.json),\n  count: result.length\n};\n"
      },
      "id": "0ee9485d-20c9-4171-bcd6-00e5a2daf21e",
      "name": "Filtrar empleos relevantes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "623f37da-2a82-4437-a518-cab971492638",
              "leftValue": "={{ $json.jobs.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        560
      ],
      "id": "d05520e1-ddd3-41ee-be0d-be3bdd75437d",
      "name": "Filtrar si no hay empleos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "16b15644-3a24-437a-881c-8b28a43e2d29",
      "name": "Desagrupar empleos DB",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1776,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -656,
        784
      ],
      "id": "d51f4ba6-4dfa-4ab5-9b4e-285a82eb92aa",
      "name": "Desagrupar empleos LLM"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f3ca087-e39c-480a-bf88-736bb4fa53d7",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  data: $('Actualizar empleo').all().map(i => i.json)\n};"
      },
      "id": "cab49cb3-da2a-4415-8833-d28ab2a3b2d9",
      "name": "Agrupar empleos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "MATCHES_FOUND",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "f53ec3c0-4ccf-47c1-b0af-bc51e4e0189a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52ed5e03-2331-4352-bbd3-de2f69bb89a4",
      "name": "¿Hay matches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        480
      ]
    },
    {
      "parameters": {
        "sendTo": "agustinsantiagopalau@gmail.com",
        "subject": "🔍 Job Seeker: sin novedades hoy",
        "message": "={{ (function(){ const f=new Date().toLocaleDateString('es-AR',{day:'2-digit',month:'long',year:'numeric'}); return '<html><body style=\"font-family:Arial,sans-serif;padding:32px;background:#f1f5f9\"><div style=\"max-width:500px;margin:0 auto;background:#fff;border-radius:12px;padding:28px\"><h2 style=\"color:#374151\">🔍 Sin matches hoy</h2><p style=\"color:#4b5563\">Workflow ejecutado el <strong>'+f+'</strong>. Ninguna vacante superó score 4/5.</p><p style=\"color:#6b7280;font-size:14px\">Las vacantes fueron guardadas en la base de datos.</p></div></body></html>'; })() }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "32010771-ab1c-40e4-8d9a-f9a58cba17a5",
      "name": "Enviar NO novedades",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        288
      ],
      "webhookId": "cd5cfc57-107c-4acf-aea2-7f24d229072e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XdXo1E6U5uELz85",
          "name": "Enviar correo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "agustinsantiagopalau@gmail.com",
        "subject": "=🎯 Job seeker: {{ $json.count }} match{{ $json.count === 1 ? '' : 'es' }} hoy",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ebac45a7-fb51-4d67-85bb-37fb238b7cca",
      "name": "Enviar novedades",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        544
      ],
      "webhookId": "fb15cc09-e696-4eb0-9270-510ce5e2efdd",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XdXo1E6U5uELz85",
          "name": "Enviar correo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el array 'data'\nconst inputData = $input.all()[0].json.data || [];\n\n// 2. Filtramos y transformamos\nconst matches = inputData\n  .filter(item => item.ai_score >= 4)\n  .map(item => {\n    let highlights = [], redFlags = [];\n    try { highlights = typeof item.fit_highlights === 'string' ? JSON.parse(item.fit_highlights) : item.fit_highlights; } catch (e) {}\n    try { redFlags = typeof item.red_flags === 'string' ? JSON.parse(item.red_flags) : item.red_flags; } catch (e) {}\n\n    // Limpieza de ubicación (maneja el string \"null\" y valores nulos reales)\n    const rawLocation = String(item.location).toLowerCase();\n    const cleanLocation = (rawLocation === 'null' || !item.location) ? '' : ` • ${item.location}`;\n\n    return {\n      ...item,\n      displayLocation: cleanLocation,\n      fit_highlights: highlights || [],\n      red_flags: redFlags || []\n    };\n  });\n\nif (matches.length === 0) return [{ json: { status: 'NO_MATCHES' } }];\n\n// 3. Generamos el HTML optimizado\nfunction buildHtml(matches) {\n  // Fecha y Hora con formato local\n  const ahora = new Date().toLocaleString('es-AR', {\n    day: '2-digit', month: 'long', year: 'numeric',\n    hour: '2-digit', minute: '2-digit'\n  });\n\n  const rows = matches.map(m => {\n    const color = m.ai_score === 5 ? '#16a34a' : '#2563eb';\n    const emoji = m.ai_score === 5 ? '🔥' : '✅';\n    const highlightsHtml = m.fit_highlights.map(h => `<li style='margin-bottom:4px;'>${h}</li>`).join('');\n    const flagsHtml = m.red_flags.map(h => `<li style='margin-bottom:4px;'>${h}</li>`).join('');\n\n    return `\n      <div style='margin-bottom:24px; padding:24px; border-radius:16px; background:#ffffff; border:1px solid #e2e8f0; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);'>\n        <!-- Cabecera: Título y Score -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr>\n            <td style=\"vertical-align: top;\">\n              <h2 style='margin:0; font-size:20px; color:#1e3a8a; line-height:1.2;'>${emoji} ${m.title}</h2>\n            </td>\n            <td style=\"vertical-align: top; text-align: right; padding-left: 15px;\">\n              <span style='background:${color}; color:#ffffff; padding:5px 14px; border-radius:100px; font-size:12px; font-weight:bold; white-space:nowrap; display:inline-block;'>\n                SCORE: ${m.ai_score}/5\n              </span>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Empresa y Ubicación -->\n        <p style='font-size:15px; color:#64748b; margin:10px 0 16px'>\n          <strong style=\"color:#475569\">${m.company}</strong>${m.displayLocation}\n        </p>\n\n        <!-- Resumen -->\n        <div style='background:#f8fafc; padding:16px; border-radius:12px; border:1px solid #f1f5f9; margin-bottom:20px;'>\n          <p style='color:#334155; font-size:14px; line-height:1.6; margin:0;'>${m.ai_summary}</p>\n        </div>\n\n        <!-- Listas -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-size:14px; line-height:1.5;\">\n          <tr>\n            <td style=\"padding-bottom:15px;\">\n              <strong style='color:#15803d; display:block; margin-bottom:8px;'>✅ Por qué encaja:</strong>\n              <ul style='margin:0; padding-left:20px; color:#166534;'>${highlightsHtml}</ul>\n            </td>\n          </tr>\n          ${flagsHtml ? `\n          <tr>\n            <td>\n              <strong style='color:#b91c1c; display:block; margin-bottom:8px;'>⚠️ Atención con:</strong>\n              <ul style='margin:0; padding-left:20px; color:#991b1b;'>${flagsHtml}</ul>\n            </td>\n          </tr>` : ''}\n        </table>\n\n        <!-- Botón -->\n        <div style='margin-top:24px; text-align:right;'>\n          <a href='${m.job_url}' style='background:#1e40af; color:#ffffff; padding:10px 24px; border-radius:8px; text-decoration:none; font-weight:bold; font-size:14px; display:inline-block;'>Aplicar en LinkedIn →</a>\n        </div>\n      </div>`;\n  }).join('');\n\n  return `\n    <!DOCTYPE html>\n    <html>\n      <body style='margin:0; padding:40px 20px; background:#f1f5f9; font-family:-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif;'>\n        <div style='max-width:600px; margin:0 auto;'>\n          <div style='text-align:center; margin-bottom:30px;'>\n            <h1 style='color:#0f172a; margin:0; font-size:26px;'>🎯 Nuevos Matches</h1>\n            <p style='color:#64748b; margin:10px 0 0; font-size:14px;'>Reporte del <b>${ahora}</b></p>\n            <div style=\"height:2px; width:40px; background:#2563eb; margin:20px auto;\"></div>\n          </div>\n          ${rows}\n          <div style='text-align:center; padding:20px; color:#94a3b8; font-size:12px;'>\n            <p>Este es un sistema inteligente de búsqueda — ${ahora}</p>\n          </div>\n        </div>\n      </body>\n    </html>`;\n}\n\nreturn [{ \n  json: { \n    status: 'MATCHES_FOUND', \n    count: matches.length, \n    html: buildHtml(matches),\n    ids: matches.map(m => m.id) // Pasamos los IDs para marcarlos como notificados luego\n  } \n}];\n"
      },
      "id": "b00e1c8f-d1ae-443c-a52a-7140e45dc219",
      "name": "Organizar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5ca25c2-3d4f-4a79-996b-613a37b59759",
              "name": "keywords",
              "value": "data scientist, ml engineer, analytics engineer, data, machine learning, ml, mlops, llmops, ai engineer, python, analytics, scientist, cientifico de datos, engineer, ingeniero, inteligencia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        560
      ],
      "id": "85789735-b6b9-4a60-8156-25ee9d457fc5",
      "name": "Configuracion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7259aff-abf8-48be-8b29-e721dea65c20",
              "name": "prompt",
              "value": "=Sos un Senior Technical Recruiter especializado en Data Science, ML e Ingeniería de Datos.\n\n---\n\nPERFIL DEL CANDIDATO:\n- Formación: Ing. en Sistemas + Diplomatura en Inteligencia de Datos\n- Experiencia: ~3 años en datos/ML\n  · ML Developer en empresa de e-commerce líder LATAM (2.5 años): modelos predictivos, Python, Pandas, Pytorch, BigQuery, ETL/EDA, pipelines\n  · Data Engineer Ssr en fintech de seguros (actual): pipelines, SQL, n8n, LLM, Dagster\n- STACK: Python (Pandas), SQL, BigQuery, Dagster, PostgreSQL, Docker, AWS (S3), Git, FastAPI\n- ML: modelado predictivo, tuning, EDA\n- Inglés: B1 (lee docs técnicos, conversacional)\n- Seniority: Ssr (2-3 años exp requeridos)\n\n---\n\nROLES TARGET: \nData Scientist, ML Engineer, Data Engineer con ML/Analytics, MLOps/LLMOps, Analytics Engineer\n\n---\n\nVACANTE:\nTítulo: {{ $json.title }}\nEmpresa: {{ $json.company }}\nUbicación: {{ $json.location }}\nURL: {{ $json.job_url }}\nDescripción: {{ $json.description }}\n\n---\n\nSCORING:\n- 5: Fit total, Python+SQL+Cloud, sin inglés avanzado obligatorio.\n- 4: Buen fit, gap menor salvable.\n- 3: Fit parcial, gaps importantes.\n- 2: Seniority incorrecto o perfil alejado.\n- 1: DESCARTAR → Stack incompatible (C#/Java/.Net/PHP), rol Jr puro, Lead/Staff/VP/Manager, REQUERIMIENTO DE 4 AÑOS O MÁS DE EXPERIENCIA, o inglés fluido excluyente.\n\n---\n\nPENALIZACIONES:\n- Requiere 4 años o más de experiencia → Score 1 (DESCARTE OBLIGATORIO)\n- Lead/Staff/Principal/Manager/VP → Score 1\n- +4 años mínimo excluyente → Score 1\n- Inglés fluido excluyente → -2\n- C#/Java/.Net/PHP como stack principal → Score 1\n- Airflow excluyente (el candidato usa Dagster) → -1\n- Título 'Software Engineer' o 'Backend' a secas (sin mencionar Data/ML) → El score debe ser bajo (1-2), independientemente de que use Python.\n\n---\n\nBONIFICACIONES:\n- Python+SQL+Cloud (+1)\n- Pipelines/ETL/Dagster (+1)\n- ML en producción (+1)\n- Docker/AWS (+0.5)\n- Remoto/Híbrido CABA (+0.5)\n\n---\n\nRESPUESTA (ÚNICAMENTE JSON VÁLIDO, SIN BACKTICKS):\n{\n  \"ai_score\": <1-5>,\n  \"title\": \"<título>\",\n  \"company\": \"<empresa>\",\n  \"job_url\": \"<URL>\",\n  \"summary\": \"<justificación 2-3 oraciones>\",\n  \"fit_highlights\": [\"<fortaleza 1>\", \"<fortaleza 2>\"],\n  \"red_flags\": [\"<gap concreto 1>\", \"<gap concreto 2>\"]\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        784
      ],
      "id": "a6f59857-6b85-4840-949d-81544ba549a9",
      "name": "Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Intenta con global.setTimeout si setTimeout falla\nawait new Promise(resolve => global.setTimeout(resolve, 1000));\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1104
      ],
      "id": "3a0d7f39-7f73-4fb9-a87a-08ad2cebc986",
      "name": "Delay 1 segundo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM jobs WHERE processed = false OR (ai_score >= 4 AND notified = false);",
        "options": {}
      },
      "id": "f42fb4f6-5838-47db-95d6-e4e6fd63f9fe",
      "name": "Recuperar pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2224,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "DIQLOFTgMflMGYIx",
          "name": "Postgres container"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET notified = true WHERE id IN ({{ $('Organizar HTML').item.json.ids.join(',') }});\n",
        "options": {}
      },
      "id": "b9625b18-33c3-4ac5-b4cb-ba0057bdde03",
      "name": "Marcar como notificados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        816,
        544
      ],
      "credentials": {
        "postgres": {
          "id": "DIQLOFTgMflMGYIx",
          "name": "Postgres container"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "957aea96-033a-45d7-aec5-f39ecd3c8770",
      "name": "Unir resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1696,
        912
      ]
    }
  ],
  "connections": {
    "Scraper API (General)": {
      "main": [
        [
          {
            "node": "Filtrar empleos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parsear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta": {
      "main": [
        [
          {
            "node": "Actualizar empleo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar empleo": {
      "main": [
        [
          {
            "node": "Delay 1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Scraper API (General)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recuperar pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar pendientes": {
      "main": [
        [
          {
            "node": "Unir resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filtrar empleos": {
      "main": [
        [
          {
            "node": "Desagrupar empleos DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar NO novedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar empleos": {
      "main": [
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar empleos relevantes": {
      "main": [
        [
          {
            "node": "Filtrar si no hay empleos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar si no hay empleos": {
      "main": [
        [
          {
            "node": "Desagrupar empleos LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar NO novedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desagrupar empleos DB": {
      "main": [
        [
          {
            "node": "Unir resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir resultados": {
      "main": [
        [
          {
            "node": "Guardar empleos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desagrupar empleos LLM": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Agrupar empleos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar empleos": {
      "main": [
        [
          {
            "node": "Organizar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay matches?": {
      "main": [
        [
          {
            "node": "Enviar novedades",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar NO novedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar novedades": {
      "main": [
        [
          {
            "node": "Marcar como notificados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar HTML": {
      "main": [
        [
          {
            "node": "¿Hay matches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Filtrar empleos relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 1 segundo": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "01282b49-5256-4212-a875-69ee9f100875",
  "activeVersionId": null,
  "versionCounter": 1126,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-04-20T02:15:20.361Z",
      "createdAt": "2026-04-20T02:15:20.361Z",
      "id": "n46zH3KBakeeZGqt",
      "name": "fastapi"
    },
    {
      "updatedAt": "2026-04-20T02:15:16.553Z",
      "createdAt": "2026-04-20T02:15:16.553Z",
      "id": "V9poL2dokDeJ1YTC",
      "name": "jobs"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-04-19T23:17:38.999Z",
      "createdAt": "2026-04-19T23:17:38.999Z",
      "role": "workflow:owner",
      "workflowId": "VPo3TTMDssh681uj",
      "projectId": "E9NqyW9tYTJgqECB",
      "project": {
        "updatedAt": "2026-04-19T23:15:16.268Z",
        "createdAt": "2026-04-19T23:12:20.043Z",
        "id": "E9NqyW9tYTJgqECB",
        "name": "Agustin Palau <agustinsantiagopalau@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "0358eadb-d203-423b-a7d6-65d8d8782c4f"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
